@import url('https://fonts.googleapis.com/css2?family=Alata&family=DM+Serif+Display&family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500&family=Josefin+Sans:wght@300&family=Karla:wght@300;400&family=Manrope:wght@700&family=Montserrat:wght@100;500&family=Outfit:wght@300&family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=DM+Serif+Display&family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500&family=Josefin+Sans:wght@300&family=Karla:wght@300;400&family=Manrope:wght@700&family=Montserrat:wght@100;500&family=Open+Sans:wght@400;700&family=Outfit:wght@300&family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
}
body{
    width: 100%;
    background: #1B2330;
}
nav{
    width: 100%;    
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 9%;
}
.navLinks{
    display: flex;   
    gap:2rem; 
}
.navLinks a{
    color: #FFF;
    font-family: 'Raleway';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
}
.navLinks a:hover{
    text-decoration-line: underline;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    gap: 2rem;
}
.hero h1{
    color: #FFF;
    text-align: center;
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    line-height: 60px;
}
.hero p{
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 589px;

}
.hero button{
    width: 280px;
    height: 56px;
    color: #FFF;
    font-family: 'Raleway';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(138deg, #63E1D9 -49.34%, #34A0CD 100%);    
    border-radius: 40px;
    border-style: none;
    outline: none;
    transition: all .55s ease;
}
.hero button:hover{
    background: #8ADAE3;
}
.grid{
    margin-top: 150px;
    width: 100vw;
    height: auto;
    display: grid;    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 5rem;   
    
}
.gridBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 349px;
    height: 214px;
    text-align: center;
}
.gridBox h1{
    color: #FFF;
    font-family: 'Raleway';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.gridBox p{
    color: #FFF;    
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
}
.gridContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.section2{
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 9%;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}
.section2 img{
    margin-left: auto;
}
.prodBox{
    display: flex;
    flex-direction: column;
    height: 282px;
    justify-content: space-between;    
}
.prodBox h1{
    color: #FFF;
    font-family: 'Raleway';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 125% */
}
.prodBox p{
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    
}
.prodButton{
    display: flex;
    width: 170px;
}
 .prodButton p{    
    color: #62E0D9;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
}
.prodButton img{
    width: 20px;
    height: 20px;
}
.prodButton:hover, .prodButton p:hover{
    color: #FFF;
}
.section3{
    display: flex;
    width: 100vw;
    height: auto;
    padding: 0 9%;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.comBox{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px 20px 20px;
    width: 360px;
    height: 200px;
    border-radius: 3.933px;
    background: #202A3C;
    box-shadow: 5px 5px 8px 4px rgba(56, 56, 56, 0.10);    
    z-index: 5;
}
.comBox p{
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    letter-spacing: 0.5px;
}
.comContainer{
    display: flex;
    gap:10px;
}
.comContainer img{
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
.textBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.textBox h2{
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px; /* 120% */
    letter-spacing: 0.5px;
}
.textBox p{
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px; /* 142.857% */
    letter-spacing: 0.5px;
}
footer{
    display: flex;
    flex-direction: column;
    gap: 2rem;    
    width: 100vw;
    height: 441px;
    background:  #0B1524;
    margin-top: 400px;
    z-index: 5;
    padding: 180px 9% 20px;
}
footer img{
    width: 108px;
height: 31px;
}
.footerBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footerBox img{
    
width: 24px;
height: 24px;
}
.footerBox p{
    width: 339px;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.footerContainer1{
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.footerCon{
    display: flex;
    gap: 22px
}
.links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
.links a{
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.links a:hover{
    font-weight: 700;
}
.icons{
    display: flex;
    gap: 10px;
}
.emailBox{   
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -2150px;
    width: 863px;
    height: 275px;
    border-radius: 9px;
    background: #1B2330;
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}
.emailBox h1{
    color: #FFF;
    font-family: 'Raleway';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 150% */
}
.emailBox p{
    color: #FFF;
    text-align: center;
    font-family:'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
}
.emailContainer{
    display: flex;
    gap: 29px;
}
.emailContainer input{
    width: 480px;
    height: 48px;
    background: #FFF;
    color: black;
    padding-left: 20px;  
    border-radius: 30px;  
    border-style: none;
    outline: none;
}
.emailContainer button{    
    width: 200px;
    height: 48px;
    background: linear-gradient(130deg, #63E1D9 -26.63%, #34A0CD 100%);
    border-radius: 30px;
    border-style: none;
    outline: none;
    color: #FFF;
    text-align: center;
    font-family: 'Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all .55s ease;
    }
.emailContainer button:hover{
    background: #8ADAE3;
}
.red{
    color: #FF4242;
    font-family: 'Open Sans';
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.hidden{
    display: none;
}
@media (max-width:440px){
    nav{
        height: 100px;
    }
    nav img{
        width: 80px;
        height: 24px;
    }
    .navLinks a{        
        font-size: 12px;          
    }
    .hero img{
        width: 304px;
        height: 225px;
    }
    .hero h1{
        font-size: 24px;
    }
    .hero p{
        font-size: 14px;
        width: 100vw;
    }
    .grid{
        grid-template-columns: 1fr;
    }
    .section2{        
        grid-template-columns: 1fr;       
    }
    .section2 img{
        width: 304px;
        height: 229.269px;
    }
    .prodBox{
        height: auto;
        gap: 1rem;
    }
    .prodBox h1{
        font-size: 18px;
    }
    .prodBox p{
        font-size: 14px;
    }
    .prodButton img{
        width: 12px;
        height: 12px;
    }
    .section3{
        flex-direction: column;
    }
    .comBox{
        width: 280px;
        height: auto;
        gap: 1rem;
    }
    .comBox p{
        font-size: 10px;
    }
    footer{
        height: 974px;
    }
    .footerBox{       
        flex-direction: column;
        gap: 2rem;
        height: auto;
    }
    
    .emailBox{           
        bottom: -2950px;
        width: 336px;
        height: 353px;        
    }
    .emailBox h1{
        font-size: 18px;
    }
    .emailBox p{
        font-size: 14px;
    }
    .emailContainer{
        flex-direction: column;        
    }
    .emailContainer input{
        width: 280px;
        height: 48px;
    }
    .emailContainer button{    
        width: 280px;
        height: 48px;
        }
    
}   